{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

        {% if title %}
            <title>BashMyCode - {{ title }}</title>
        {% else %}
            <title>BashMyCode</title>
        {% endif %}

    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-2">
                <a class="navbar-brand p-4" href="{% url 'bashmycode:index' %}">bashmycode</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:help' %}">Help</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:post-create' %}">New Post</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:profile' %}">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:logout' %}">Log Out</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:login' %}">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'bashmycode:register' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}{% endblock content %}


        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-9  ml-sm-auto col-lg-10 px-4">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- FOOTER -->
                    <footer>
                        <p class="float-right"><a href="#">Back to top</a></p>
                        <p>&copy; 2020 BashMyCode &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                    </footer>
                </main>
            </div>
        </div>
        
        
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        <script src="<script src="{% static "js/bash-query.js" %}" crossorigin="anonymous"></script>
        <script src="<script src="{% static "js/bash-ajax.js" %}" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>