{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'bashmycode/main.css' %}">
        <title>BashMyCode | Login</title>
    </head>
    <body>
        {% block content %}
            <div class="login-clean">
                <form method="POST">
                    <h2 class="sr-only">Login Form</h2>
                    {% csrf_token %}
                    <div class="illustration"><i class="fa fa-code"></i></div>
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Log In</button>
                    </div>
                    <a class="forgot" href="{% url 'password_reset' %}">Forgot your password?</a>
                    <a class="forgot" href="{% url 'bashmycode:register' %}">Sign Up</a>
                </form>
            </div>
        {% endblock content %}
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>